<!DOCTYPE html>
<html ng-app="directoryApp">

<head>
  <meta charset="UTF-8">
  <title>Ideas In Effect</title>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/directory.js"></script>


  <link rel="stylesheet" href="css/reset.css">


  <link rel="stylesheet" href="css/style.css">




</head>

<body ng-controller="directoryController">

  <div class="container">
    <section class="background">
      <div class="content-wrapper">
        <input type="text" ng-model="search" >
        <ul>
          <ol  ng-repeat="item in list | filter:search">
          <img ng-src="" alt="" />  <em>{{item.name}} - {{item.age}}</em>
          </ol>
        </ul>

        <h1>{{yourName}}</h1>
        
        <p  class="content-title ">Creatively Bridging The Gap </p>
        <p class="content-subtitle">Scroll down and up to see the effect!</p>
      </div>
    </section>
    <section class="background">
      <div class="content-wrapper">
        <p class="content-title">Cras lacinia non eros nec semper.</p>
        <p class="content-subtitle">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras ut massa mattis nibh semper pretium.</p>
      </div>
    </section>
    <section class="background">
      <div class="content-wrapper">
        <p class="content-title">Etiam consequat lectus.</p>
        <p class="content-subtitle">Nullam tristique urna sed tellus ornare congue. Etiam vitae erat at nibh aliquam dapibus.</p>
      </div>
    </section>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
  <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
  <script src="js/index.js"></script>





</body>

</html>
